{% extends 'layout.html.twig' %}

{% block page_title %}<h1>CAVACHESS </h1>
    <h3> Jouez aux échecs en ligne contre les meilleurs ! </h3>{% endblock %}

{% block content %}
    {% if app.user is null %}
        <div class="row">
            <div class ="coverfront col-sm-7" style="border:solid black 1px;">
                <img src="{{ asset('img/cavani.jpg') }}" width="100%"/>
            </div>
            <div class="blocfront col-sm-5" style="border:solid black 1px; min-height: 320px">
                <div class="boutonshome col-sm-8 col-sm-offset-2" style="margin-top:50px;">
                    <a href="{{ path('login') }}">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Se connecter</button>
                    </a>
                    <a href="{{ path('app_security_register') }}">
                        <button type="button" class="btn btn-default btn-lg btn-block">S'inscrire</button>
                    </a>
               </div>
            </div>
        </div>
    {% else %}   
        <div class="row">
            <div class ="coverfront col-sm-6">
                
            </div>
            <div class="blocfront col-sm-6">

            </div>
        </div>
    {% endif %}
    <h2>Derniers articles</h2>
    {% for post in posts %}
        {% include 'post/preview.html.twig' with {"post" : post} %}
    {% endfor %} 
{% endblock %}