{% extends 'layout.html.twig' %}

{% block page_title %}
    <h1>
        Ajout gametype
    </h1>
{% endblock %}

{% block content %}
{{form_start(form)}} 
{{form_row(form.name)}} {# name #}
<div class="form-btn-group pull-right">
    <button type="submit" id="addtypeofgame" class="btn btn-primary">Enregistrer</button>
    <a href="{{path('app_admin_competition_listcompetitions')}}" class="btn btn-default" title="">Annuler</a>
</div>
{{form_end(form)}} {# ferme la balise form #} 
{% endblock %}
