{{form_start(form, {'attr': {'method' : 'post', 'action' : path('app_admin_competition_addtypeofgame')}}) }}
{{form_row(form.name)}} {# name #}
<div class="form-btn-group pull-right">
    <button type="submit" id="addtypeofgame" class="btn btn-primary">Enregistrer</button>
    <a href="{{path('app_admin_competition_displaycompetitions')}}" class="btn btn-default" title="">Annuler</a>
</div>
{{form_end(form)}} {# ferme la balise form #} 
