/* COLORS
primary : #FBFAF8 (white)
secondary : #141311 (black) / light 10% = #2E2D2B, 20% = #474644
Third : #4F4A47 (grey) 
*/
/* FONT
font-family: 'Noto Sans', sans-serif;

*/

/********************** GLOBAL / RESETS / DEBUG / INFO **********************/
/* RESET / GLOBAL */
body {font-family: 'Noto Sans', sans-serif; font-weight:400;}

img {max-width:100%; height:auto;}

a, a:hover {text-decoration: none; color:inherit;}

h1, h2, h3, h4, h5, h6, p {margin:0;}

hr {margin-top:10px; margin-bottom: 8px;}

h1 {font-size: 2.2em; font-weight:700}
h2 {font-size: 1.8em; font-weight:700}
h3 {font-size: 1.15em; font-weight:700;}
h3 {font-size: 1.10em; font-weight:700;}

section, aside{margin-top:20px;}

.btn, .btn-default, .btn-ok, .form-control, .input-group-addon, .pagination > li > a, .dropdown-menu, .navbar-default {border-radius: 0px!important;}

/********************** END **********************/


/********************** MAIN LAYOUT **********************/
/* NAV */
.navbar-default {background-color:#4F4A47; border:none;}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color:white;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {background-color:#141311;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .active.navbar-brand {background-color:#141311;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover  {color:white;}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {background-color: #474644; color:white;}


/********************** END **********************/
.category-tag {
    background-color: darkslategrey;
    color: white;
    font-style: italic;
    padding: 2px;
    padding-left:5px;
    font-size: 10px;
}
/* BODY */
body {
    background-color: rgb(252,251,249);
}
/* NAVBAR */

.navbar {
    margin-bottom: 0;
}

/*BLOC WELCOME CAVACHESS */
.coverhome {
    background-image: url("../../web/img/coverfonthome7.jpg");
    min-height:400px;
}

/********************** VIEWS > GAME > DISPLAY  **********************/
section#jeu .toggle-display { display:none;} 
#jeu #board {max-width:100%}

/********************** MEDIA QUERY **********************/
@media screen and (max-width:768px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a {color:white;}
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {background-color:#474644}    
}

/********************** END **********************/


.bloc-cover-home {
    position:absolute;
    top:0;
    left:0;
}
.cavachess {
    padding-top: 20px;
    margin-left:35px;
    font-size:3.5em;
}

.headline {
    margin-top: 20px;
    padding-left:20px;
}
.soustitre-cavachess {
    font-size: 1.4em;
    font-weight:400;
    margin-left:10px;
    padding-top:15px;
    
}
.onlineplayer{

    font-size: 15pt;
}
.boutonshome {
    padding-top: 100px;
    padding-left: 0;
    padding-right:0;
    margin-bottom: 10px;
}

/* BLOC CAVABLOG HOMEPAGE */
.cavablog {
    margin-top:20px;
}
.jeuhomepage {
    margin-top:20px;
}
.competitions {
    margin-top:10px; 
}