{% extends 'layout.html.twig' %}

{% block page_title %}<h1>Connexion</h1>{% endblock %}
        
{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

        <div class="row">
            <div class="formconnexion col-sm-6 col-sm-offset-3">
            <h1><span class="blueviolet glyphicon glyphicon-knight"></span> Connexion</h1> 
               
                <form method="post">
                    <div class="form-group">
                        <label>Pseudo ou email</label>
                        <input type="text" class="form-control" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="form-group">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" name="_password">
                    </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                     <a href="{{ path('app_security_register') }}"><p class="register-on-login"> Pas encore inscrit? Inscrivez vous ! </p></a> 
                </form>
            </div>
        </div>
                
                
{% endblock %}
